[Unit]
Description=Howdy-WAL Monitor
After=graphical-session.target

[Service]
ExecStart=/bin/bash @PATH@/screen_watcher.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
