[Unit]
Description=Howdy-WAL V2 Monitor
After=graphical-session.target

[Service]
ExecStart=/bin/bash @PATH@/monitor.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
